body {
    margin: 0;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #000;
    width: 600px;
    height: 600px;
}

.genius {
    display: grid;
    grid-template-areas: 'green yellow'
    'blue red';
    grid-gap: 20px;
    border-radius: 100%;
    background-color: #000;
    width: 500px;
    height: 500px;
}

.green {
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
}

.yellow {
    grid-area: yellow;
    background-color: yellow;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

.blue {
    grid-area: blue;
    background-color: blue;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 50%;
    cursor: pointer;
}

.red {
    grid-area: red;
    background-color: red;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 50%;
    cursor: pointer;
}

.selected {
    opacity: 0.5;
}